body {
  background-color: #E0F2F7;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  float: right;
  margin: 0 30px 10px 0;
}

li {
  float: left;
  text-decoration: none;
  list-style: none;
  padding: 0 0 0 30px;
}

a {
  /*link*/
  text-decoration: none;
  color: black;
}

}
.fullwidth{
  border: 0;
}
#logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  left: 50px;
}

#menu {
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  right: 100px;
}

#menubar {
  /*แถบบน*/
  font-family: sans-serif;
  background-color: #E6E6E6;
  position: fixed;
  width: 100%;
  height: 3em;
  z-index: 2;
}

#bar {/*แถบข้างล่าง*/
  position: relatives;
  font-family: sans-serif;
  font-weight: 400;
  background-color:#A9D0F5;
  color: black;
  width: 100%;
  height: auto;
  float: left;
  text-align:center;
  padding: 5px;
  font-size: 1em;
}

#lastbar{
 font-size: 0.5em;
 font-family: sans-serif;
 font-weight:400;
 background-color:#2F4F4F;
 width: 100%;
 color:white;
 height: 100px;
}
#box {
  /*booking*/
  font-family: sans-serif;
  float: left;
  background-color: #F8F8FF;
  height: 300px;
  width: 400px;
  position: absolute;
  margin: 7% 25% 7% 70%;
  z-index: 1;
}

#box input[type="submit"] {
  /*ปุ่มในกล่องบุ้กกิ้ง*/
  text-align: center;
  background: #04B4AE;
  color: white;
  padding: 10px 20px;
}
#boxrequest1 {
  /*request*/
  font-family: sans-serif;
  float: left;
  text-align: center;
  background-color: #F8F8FF;
  position: absolute;
  padding: 5%;
  margin:30px 10px 20px 210px;
  z-index: 1;
  border: 5px solid ;
  text-decoration: none;
  color: black;
}
#boxrequest1 a {
  /* พื้นที่ลิ้ง*/
  font-size: 50px;
}
#boxrequest1:hover {
  /*ขอบแว้บๆ*/
  border: 5px solid red;
}
#boxrequest2 {
  /*request*/
  font-family: sans-serif;
  float: left;
  text-align: center;
  background-color: #F8F8FF;
  position: absolute;
  padding: 6%;
  margin:230px 10px 20px 210px;
  z-index: 1;
  border: 5px solid ;
  text-decoration: none;
  color: black;
}
#boxrequest2 a {
  /* พื้นที่ลิ้ง*/
  font-size: 50px;

}
#boxrequest2:hover {
  /*ขอบแว้บๆ*/
  border: 5px solid red;
}
.center {
  text-align: center;
}
.centerlastbar{
  text-align: center;
  padding: 20px 500px 0px 500px;
}

#info {
  /*กล่องข้อมุล*/
  float: left;
  font-family: sans-serif;
  background-color: #F8F8FF;
  height: 800px;
  width: 800px;
  margin: 2% 25% 2% 25%;
}

#formcontainer {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
}

#space {
  /*เว้นช่องว่างระหว่างตาราง*/
  margin: 5px 15px 15px 15px;
}

#boxolduser {
  /*old user*/
  font-family: sans-serif;
  float: left;
  background-color: #F5A9A9;
  height: 450px;
  width: 400px;
  position: absolute;
  margin: 7% 25% 7% 55%;
  z-index: 1;
}

#boxnewuser {
  /*new user*/
  font-family: sans-serif;
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 400px;
  position: absolute;
  margin: 7% 25% 7% 15%;
  z-index: 1;
}

#listcus {
  /*list left customer*/
  font-family: sans-serif;
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 300px;
  position: absolute;
  margin: 7% 25% 7% 10%;
  z-index: 1;
}

#listcus ul {
  float: none;
  padding: 0;
  margin: auto;
}

#listcus li {
  float: none;
  text-decoration: none;
  list-style: none;
  text-align: center;
  height: 60px;
  padding: 30px 20px 0 20px;
  margin: 10px;
  background-color: white;
  border: 5px solid black;
}

#listcus a {
  /* พื้นที่ลิ้ง*/
  padding: 30px 50px 40px 50px;
}

#listcus li:hover {
  /*ขอบแว้บๆ*/
  border: 5px solid red;
}

#page {
  /*ข้อมูล ลูกค้า&staff*/
  font-family: sans-serif;
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 800px;
  position: absolute;
  margin: 7% 25% 7% 35%;
  z-index: 1;
}

#boxnotice {
  font-family: sans-serif;
  float: left;
  background-color: #BEF781;
  height: 250px;
  width: 550px;
  position: absolute;
  margin: 14% 30% 7% 33%;
  z-index: 1;
}

#boxnotice .center input[type="submit"] {
  /*ปุ่ม*/
  text-align: center;
  background: yellow;
  color: black;
  padding: 10px 20px;
}

/*        Tonny's CSS            */

#hometable{
  width: 100%;
  float: left;
  table-layout: fixed;
}
.blackbutton{
  text-align: center;
  background: black;
  color: white;
  padding: 10px 20px;
}

.innercenterdiv{
  width: 60%;
  margin: 0 auto;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
