body{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.innercenterdiv{
  width: 60%;
  margin:0 auto;
}
.nodecorate{
  text-decoration: none;
  color: black;
}
.container{
  width: 100%;
}

#topbar{
  position: fixed;
  width: 100%;
  background-color: #E6E6E6;
  height: 3em;
  z-index: 10;
}

#logo{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  left: 50px;
}

#topbarmenu{
  /*ul*/
  float: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.topbarelement{
  /*li*/
  padding: 1em 16px;
  display: inline;
  float: left;
}

.topbarelement a{
  text-decoration: none;
  color: black;
}

#seaview{ /*รูปบนสุด*/
  position: relative;
  width: 100%;
  background-color: lightblue;
  z-index: 1;
}

.textonpic h1{
  position: absolute;
  top: 70%;
  left: 60%;
  font-size: 5em;
}

#content{
  position: relative;
  width: 100%;
}
#content table{
 width: 100%;
 border-collapse: collapse;
}



#room_outer_content{
  position: relative;
  background-color: #E0F2F7;
  width: 100%;
  height: 110%;
}
#room_inner_content{
  position: absolute;
  background-color: white;
  width: 60%;
  margin:1% 5% 1% 20% ;
  height: auto;
}
#room_inner_content td{
  padding:1% 5px;
}






#login_box1_content{
  font-family: sans-serif;
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 400px;
  position: absolute;
  margin: 7% 25% 7% 17%;
  z-index: 1;
}
#login_box1_content input[type="submit"] {
  text-align: center;
  background: #04B4AE;
  color: white;
}
#login_box2_content{
  font-family: sans-serif;
  float: left;
  background-color: #F5A9A9;
  height: 450px;
  width: 400px;
  position: absolute;
  margin: 7% 25% 7% 55%;
  z-index: 1;
}
#login_box2_content input[type="submit"] {
  text-align: center;
  background: #04B4AE;
  color: white;
}






#dashboard_leftbar{
  text-align: center;
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 300px;
  position: absolute;
  margin: 7% 25% 7% 10%;
  z-index: 1;
}
#dashboard_leftbar a{
  text-decoration: none;
  color: black;
}
#dashboard_leftbar ul {
  float: none;
  padding: 0;
  margin: auto;
}

#dashboard_leftbar li {
  float: none;
  text-decoration: none;
  list-style: none;
  text-align: center;
  height: 60px;
  padding: 30px 20px 0 20px;
  margin: 10px;
  background-color: white;
  border: 5px solid black;
}

#dashboard_leftbar li:hover {
  /*ขอบแว้บๆ*/
  border: 5px solid red;
}

#dashboard_info{
  float: left;
  background-color: #BEF781;
  height: 450px;
  width: 800px;
  position: absolute;
  margin: 7% 25% 7% 35%;
  z-index: 1;
}



#footer{
  position: relative;
  width: 100%;
}

#beforebottombar{
  position: relative;
  width: 100%;
  background-color: #A9D0F5;
  height: auto;
}

#beforebottombar table{
  width: 95%;
  padding: 20px;
}

#bottombar{
  position: relative;
  width: 100%;
  background: #2F4F4F;
  height: auto;
}

#bottombar table{
  width: 100%;
  padding: 20px 500px 0 500px;
  text-align: center;
  font-size: 0.5em;
}
